<div class="container">
    <legend>Edit Item</legend>
    
    <form>

        <div class="mb-3">
            <label for="txtID" class="form-label">ID</label>
            <input type="number" name="ID" [(ngModel)] = "pieceForm.id" class="form-control" ID="txtID" />
        </div>
          
          
      <div class="mb-3">
        <label for="txtName" class="form-label">Name</label>
        <input type="text" name="name" [(ngModel)] = "pieceForm.name" class="form-control" price="txtName" />
      </div>

      <div class="mb-3">
        <label for="txtprice" class="form-label">price</label>
        <input type="number" name="price" [(ngModel)] = "pieceForm.price" class="form-control" price="txtprice" />
    </div>

    <div class="mb-3">
        <label for="txtquantity" class="form-label">quantity</label>
        <input type="number" name="quantity" [(ngModel)] = "pieceForm.quantity" class="form-control" quantity="txtquantity" />
    </div>
      
    <div class="mb-3">
      <label for="txttype" class="form-label">Type</label>
      <input type="text" name="type" [(ngModel)] = "pieceForm.type" class="form-control" id="txttype" />
    </div>


      <button type="button" (click)="update()" class="btn btn-primary">Update</button>
    </form>
</div>